# Node.js
node_modules/
npm-debug.log

# Ignore production config
/config/production.json

# Ignore production env variables
/.env.production
/.env.development

# Ignore package-lock.json
/package-lock.json

# IDE
.idea/

# Logs
logs
*.log

# Test results
/coverage/
.nyc_output/

# Misc
.DS_Store
Thumbs.db
